@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2 Osolo Way off M/M Int'l.Airport,<br />
    7/8 Bus Stop, Lagos Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +2348144394063
</address>

<address>
    <strong>CVC:</strong>   <a href="mailto:CVC@example.com">CVC@example.com</a><br />
    <strong>Calvary:</strong> <a href="mailto:Calvary@example.com">Calvary@example.com</a>
</address>