@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/img/calvary.png" />
    <h1>CVC</h1>
    <p class="lead">Calvary Coders Academy</p>
    <p><a href="https://cvc.ng" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enrol Now</h2>
        <p>
            Calvary-Coders Academy is a developers academy, join the world of Programmers today💻.
        </p>
        <p><a class="btn btn-default" href="https://cvc.ng/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skills</h2>
        <p>HTML, CSS, BOOTSTRAP, JAVASCRIPT, REACT, NODEJS, C#, ASP.NET.</p>
        <p><a class="btn btn-default" href="https://cvc.ng/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Calvary-Coders offers the right mix of features and price for your web hosting.</p>
        <p><a class="btn btn-default" href="https://cvc.ng/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>